nav{
background-color: rgb(241, 156, 224);
padding: 3px;
display: flex;
justify-content: space-around;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 100%;

}

nav a{
    color: rgb(214, 19, 244);
    text-decoration: none;
    font-size: 1em;
    margin: 0 15px;

}
.pat{
background-color: rgb(241, 156, 224);
text-align: center;
padding: 20px;
border-radius: 10px;
box-shadow: black;
margin-top: 20px;
}
.pat h1{
    text-align: center;

}

body{
    background-color: rgb(247, 178, 230);
    margin: 0;
    padding: 0;
  font-family: 'Times New Roman', Times, serif;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
 
.pp{
display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}

.ppp{
background-color: rgb(247, 204, 241);
padding: 20px;
border-radius: 10px;
width: 100%;
text-align: center;
box-shadow: black;
}
.footer{
    background-color: azure;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

h3{
    text-align: center;
}
.mor{
    display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}
.ppe{
   background-color: rgb(247, 204, 241);
padding: 20px;
border-radius: 10px;
width: 300px;
text-align: center;
box-shadow: black; 
}

nav img{
    width: 40px;
    height: auto;
    margin-right: 0 15px;
    border-radius: 50px;

}
nav a:hover{
    text-decoration: underline;
}

.info{
    background-color: rgb(247, 204, 241);
padding: 40px;
border-radius: 10px;
width: 100%;
text-align: center;
box-shadow: black; 
}

.inn{
  display: flex;
justify-content: center;
gap: 20px;
margin-top: 20px;
}
.info1{
     background-color: rgb(247, 204, 241);
padding: 100px;
border-radius: 10px;
width: 50px;
text-align: center;
box-shadow: black; 
}

.ppe{
      background-color: rgb(247, 204, 241);
padding: 100px;
border-radius: 10px;
width: 50px;
text-align: center;
box-shadow: black; 
}